@*
@model List<ObjetoEscuelaBase>
*@

<p>
    Nombre: @Model.Nombre <br>
    Id: @Model.UniqueId
</p>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@Model.Nombre</td>
                <td>@Model.UniqueId</td>
            </tr>
        }
    </tbody>
</table>