@model Escuela

@{
    ViewData["Title"] = "School Information";

    <!-- Layout por defecto -->
    Layout = "_Simple";
}

<h1>Escuela</h1>
<h2>Nombre: @Model.Nombre </h2>
<p><strong>Año Fundacion: @Model.AñoDeCreación </strong> </p>

<p>@ViewBag.DynamicThing</p>
<!-- Otra forma -->
<p>@ViewData["DynamicThing"]</p>
