@model Asignatura

@{
    ViewData["Title"] = "Asignature Information";

    <!-- Layout por defecto -->
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista normal</strong>
<p>
    Nombre: @Model.Nombre <br>
    Id: @Model.UniqueId
</p>

<strong>Desde la vista parcial</strong>
<partial name="_AsignaturaSimple" />

<p>@ViewBag.Fecha</p>
